.box-time{
  font-size: 0.8rem; 
}

.box-time h2{
  margin-top: 1.7rem;
  border: 2px solid white;
  padding: 0.2rem 1.3rem;
  border-radius: 10px;
}

.box-time p{
  font-size: 1.4rem;
  margin-top: 0;
}
.box-card-score{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding:2rem 0;
  gap: 1.5rem;
}