.level-box{
  display: grid;
  width: 100%;
  height: 30%;
  align-content: stretch;    
  grid-template-columns: repeat(5, 1fr);
  padding: 1rem 4rem;
  gap: 1rem;
  grid-template-rows: auto;

}

.level-box button{
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid grey;
  cursor: pointer;
}

.level-box span{
 font-size: 5rem;
 font-family: "Climate Crisis", sans-serif;
 color: green;
 

}

.activeLevel span{
  filter: grayscale(70%);
  color: red;
}

.nonActive{
  filter:none; 
}



.btn-menu-div{
  display: flex;
  align-self: flex-end;
  margin: 3rem 2rem;
  height: 10%;
  width: 7%;
  
}



