section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  width: 95%;
  height: 100vh;
  margin: auto;
  
}

.container{ 
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  gap: 1rem;
  align-items: center;
  background-color: blueviolet;
  width: 80%;
  height: 80%;
}

.container h3{
  font-size: 4rem;
  color: rgb(212, 208, 208);
}
